@font-face {
    font-family: 'Union';
    src: url('fonts\union_regular.otf') format('opentype');
    /* Add additional font formats if available */
    font-weight: normal;
    font-style: normal;
}


/* General Styling */
body {
    font-family: 'Union', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

}


/* Title and Prompt Section */
#title-prompt {
    margin: 20px; /* Center the title and prompt with spacing */
    padding: 10px;
    text-align: center;
}


/* Flex Container for horizontal alignment */
.container {
    display: flex;                 /* Align items horizontally */
    align-items: flex-end;         /* Align bottom edges */
    justify-content: center; /* Distribute space between elements */
    gap: 2px;                     /* Add space between items */
    height: 300px;                 /* Ensure enough height for alignment */
    padding: 5px;                 /* Optional: Add padding inside the container */
    margin: 0 auto;                /* Center the container horizontally*/
    box-sizing: border-box;        /* ensure padding doesn't add to width*/
}

/* Utile Link */
#utile-link {
    display: flex;                 /* Keeps logo centered */
    align-items: center;           /* Center align logo */
    justify-content: left;
    width: 100px;                  /* Explicit width */
}

/* Style the image */
#utile-logo {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintains aspect ratio */
    cursor: pointer; /* Indicates the image is clickable */
    z-index: 1000px;
}

#map {
    flex: 1;
    height: 500px;
    border: 2px solid #ffcf2f;
}

/* Style the button */
#submit-btn {
    width: 12;
    background-color: #ffcf2f; /* Green background */
    color: black; /* White text */
    font-family: Arial, Helvetica, sans-serif, sans-serif; /* Font family */
    font-weight: 550;
    font-size: 12px; /* Font size */
    padding: 7px 10px; /* Padding around the text */
    border: solid rgb(207, 40, 179); /* borders */
    border-width: 2px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth hover effect */
}

#palante-logo {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

/* Add hover effect */
#submit-btn:hover {
    background-color: #fb8e00; /* Darker green on hover */
}


#comment-box {
    width: 75%; /* Adjust width as needed */
    padding: 10px;
    font-family: 'Arial', sans-serif; /* Change this to your desired font */
    font-size: 14px; /* Adjust font size as needed */
    color: #333; /* Text color */
    background-color: #f9f9f9; /* Optional: Background color */
    border: 1px solid #ffcf2f;
    border-width: 2.5px;
    border-radius: 5px;
    resize: vertical;
}



